# yaml-language-server: $schema=../.helm-shared/values.schema.json

# shared values for all services
global:
  domain: p47
  location: bl47p
  enabled: true

# shared values for IOCs
shared: &shared
  # hostNetwork
  # set to true for Channel Access to work outside of the cluster (or use a gateway)
  hostNetwork: true

  # running as ixxdetector account uid,gid gives access to /dls/ixx/data
  securityContext:
    runAsUser: 37887
    runAsGroup: 37887

  # affinity and tolerations to get the right nodes on pollux
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: beamline
                operator: In
                values:
                  - bl47p

  tolerations:
    - key: beamline
      operator: Equal
      value: bl47p
      effect: NoSchedule
    - key: location
      operator: Equal
      value: bl47p
      effect: NoSchedule
    - key: nodetype
      operator: Equal
      value: training-rig
      effect: NoSchedule

# shared settings for all ibek IOCs using the ioc-instance helm chart
ioc-instance:
  <<: *shared

  # local persistent storage for ibek IOCs
  volumes:
    - name: beamline-data
      hostPath:
        path: /exports/mybeamline/data/
  volumeMounts:
    - name: beamline-data
      mountPath: /exports/mybeamline/data/

# shared setting for all legacy IOCs using the dev-c7 helm chart
dev-c7:
  <<: *shared
