nexus-file-converter:
  debug:
    enabled: false
    suspend: false
  beamline: p47
  template:
    entry/:
      NX_class@: NXentry
      instrument/:
        NX_class@: NXinstrument
        name: p47

  nodeSelector:
    kubernetes.io/hostname: bl47p-ea-serv-01.diamond.ac.uk
  tolerations:
    - key: nodetype
      operator: Equal
      value: training-rig
      effect: NoSchedule
    - key: beamline
      operator: Equal
      value: bl47p
      effect: NoSchedule

  volumes:
  - name: nexus-data
    hostPath:
      path: /exports/mybeamline/data/
      type: DirectoryOrCreate

  volumeMounts:
  - name: nexus-data
    mountPath: /exports/mybeamline/data/
    mountPropagation: HostToContainer

  application:
    server:
      port: 8084
    spring:
      profiles:
        active: rabbitmq
      rabbitmq:
        host: p47-rabbitmq-daq.diamond.ac.uk
        username: guest
        password: guest
    files:
      output:
        
        directory:
          staticDirectory: ""  # explicitly empty, get from StartDocument metadata
        
        devices:
          types:
            det: NX_DETECTOR
            sample_stage: NX_COLLECTION
            sample_stage.x: NX_POSITIONER
            sample_stage.theta: NX_POSITIONER
  securityContext:
    runAsUser: 37887 # p47detector
    runAsGroup: 37887
