# yaml-language-server: $schema=../../.helm-shared/values.schema.json

ioc-instance:
  image: ghcr.io/epics-containers/ioc-adaravis-runtime:2025.12.1

  dataVolume:
    pvc: false
    hostPath: /exports/mybeamline/data/

  # comment change (for testing CI only)

  # enable debug mode
  # # disable host networking to allow root user
  # hostNetwork: false

  # # generous resources to handle the extra overheads of debugging
  # resources:
  #   limits:
  #     cpu: 4
  #     memory: 4Gi
  #   requests:
  #     cpu: 1
  #     memory: 1Gi
