# yaml-language-server: $schema=../../.helm-shared/values.schema.json

ioc-instance:
  image: ghcr.io/epics-containers/ioc-adaravis-runtime:2025.8.3

  # dataVolume:
  #   pvc: false
  #   hostPath: /exports/mybeamline/data/

  # DEBUG SETTINGS ###########################################################
  # to use these deploy with these settings and then open a shell in the pod
  # then:-
  #   cp -r /tmp/config /epics/ioc/
  #   /epics/ioc/start.sh

  # don't make the IOC the entrypoint
  args:
    - sleep
    - infinity

  # mount the config map elsewhere so we can copy and edit it
  # i.e. `cp -r /tmp/config /epics/ioc/` before starting the IOC
  iocConfig: /tmp/config

  # generous resources to handle the extra overheads of debugging
  # e.g. you could attach vscode remote dev to this using the
  # kubernetes and remote development extensions
  resources:
    limits:
      cpu: 3000m
      memory: 4Gi
    requests:
      cpu: 500m
      memory: 1Gi

  # these remaining settings mean you won't be able to see PVs from outside
  # the cluster. But could do so if you add a gateway like we did in the
  # t01-services tutorial.
  # WARNING: you must also disable any host mounts otherwise you are not
  # allowed to run as root.

  # disable host networking to allow root user
  hostNetwork: false

  # choose root user for write access to the container filesystem
  securityContext:
    runAsUser: 0
    runAsGroup: 0
