# yaml-language-server: $schema=../../.helm-shared/values.schema.json

ioc-instance:
  # DEBUG SETTINGS ###########################################################
  # To use these deploy with these settings and open a shell in the pod.
  # then:-
  #   /epics/ioc/start.sh

  # use developer image for debugging
  image: ghcr.io/epics-containers/ioc-adaravis-developer:2025.8.3

  # comment out dataVolume - you can't mount hostPath as the root user
  # dataVolume:
  #   pvc: false
  #   hostPath: /exports/mybeamline/data/

  # mount the config map elsewhere so we can copy it - making it editable
  iocConfig: /tmp/config

  # don't make start.sh the entrypoint, just sleep
  # (and copy config to /epics/ioc/)
  args:
    - cp -r /tmp/config /epics/ioc/; sleep infinity

  env:
    # stop start.sh from wrapping the IOC in stdio-socket
    - name: STDIO_EXPOSED
      value: ignore

  # generous resources to handle the extra overheads of debugging
  # e.g. you could attach vscode remote dev to this using the
  # kubernetes and remote development extensions
  resources:
    limits:
      cpu: 3000m
      memory: 4Gi
    requests:
      cpu: 500m
      memory: 1Gi

  # WARNING: you must also disable any host mounts otherwise Policy
  # will disallow the pod from starting when you are root.
  # choose root user for write access to the container filesystem
  securityContext:
    runAsUser: 0
    runAsGroup: 0
