# yaml-language-server: $schema=../../.helm-shared/values.schema.json

ioc-instance:
  image: ghcr.io/epics-containers/ioc-adaravis-runtime:2025.11.1

  dataVolume:
    pvc: false
    hostPath: /exports/mybeamline/data/
