## yaml-language-server: $schema=../../.helm-shared/values.schema.json

ioc-instance:
  image: ghcr.io/diamondlightsource/fastcs-example-debug:2025.10.1
  args:
    - stdio-socket --ptty "fastcs-example run /epics/ioc/config/controller.yaml"

  extraContainers:
    - name: temp-controller-simulator
      image: ghcr.io/diamondlightsource/fastcs-example:2025.9.1
      command:
        - tickit
        - all
        - /epics/ioc/config/temp_controller.yaml

  # dummy change to test reboot
  rebootEveryCommit: true

  initContainers:
    - name: test-init
      image: alpine/git
      args:
        - --version

  # don't use the ioc-instance livenesProbe, preStop which dont exist in fastcs image.
  livenessExecutable: ""
  preStopExecutable: ""
