## yaml-language-server: $schema=../../.helm-shared/values.schema.json

ioc-instance:
  image: ghcr.io/diamondlightsource/fastcs-example-debug:2025.10.1
  args:
    - stdio-socket --ptty "fastcs-example run /epics/ioc/config/controller.yaml"

  extraContainers:
    - name: temp-controller-simulator
      image: ghcr.io/diamondlightsource/fastcs-example:latest
      command:
        - tickit
        - all
        - /epics/ioc/config/temp_controller.yaml

  # example of adding an initContainer
  initContainers:
    - name: test-init
      image: alpine/git
      command:
        - git
        - status

  # don't use the ioc-instance livenesProbe, preStop which dont exist in fastcs image.
  livenessExecutable: ""
  preStopExecutable: ""
